/* 
    General Styles
*/
body {
    background: linear-gradient(90deg, rgba(250,189,112,1) 72%, rgba(250,235,215,1) 95%);
    font-weight: bold;
}
.content {
    max-width: 980px; 
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: 400px;
   
}
.img {
    max-width: 100%;
    border: 2px solid black;
    box-shadow: -30px 20px 0 black;
}
.col1 {
height: 100%;

}
.col2 {
   content: '';
    
    
}
.signIn {
    background-color: gainsboro;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: -30px 20px  0 black;

    
}
.card {
    max-width: 700px;
    background-color: burlywoods;
}